services:
  postgres_db:
    image: postgres:17.0-alpine
    container_name: postgres_db
    env_file:
      - .env
    volumes:
      - postgresql_data:/var/lib/postgresql/data
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U ${POSTGRES_USER}"]
      interval: 30s
      timeout: 10s
      retries: 5
    ports:
      - 5432:5432
  api:
    image: back3nd:alpha
    container_name: back3nd
    env_file:
      - .env
    depends_on:
      - postgres_db  
    ports:
      - "3737:3737"
      - "3000:3000"
      - "8087:80"
    environment:
      - NODE_ENV=production
      - DATABASE_URL=postgresql://${POSTGRES_USER}:${POSTGRES_PASSWORD}@postgres_db:5432/${POSTGRES_DB}?schema=public

volumes:
  postgresql_data: